* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3 {
    color: white;
    background-color: black;
}

li {
    border: 4px solid orange;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

#proyectos {
    width: 95vw;
    margin-left: 2.5vw;
}